<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
<!--    &lt;!&ndash;데이지UI 불러오기 &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />-->

<!--    &lt;!&ndash; 테일윈드 불러오기 &ndash;&gt;-->
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
</head>
<body>
<h1>공통으로 들어가는 부분</h1>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>